@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@theme {
    --color-primary: #bebebe;
    --color-secondary: #f97316;
}

:root {
    font-family:
        'Inter',
        'Noto Sans JP',
        system-ui,
        -apple-system,
        sans-serif;
    background-color: #f8fafc;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100vh;
}
